 @media (min-width: 64em) {}

 @media (min-width: 46.25em) and (max-width: 63.9375em) {}

 /* ?tablet and .mobile-menu-btn */
 @media (max-width: 63.9375em) {
     .place-buy-btn {
         padding: 15px 16px;
     }

     .contact-form .form-submit-btn {
         padding: 15px 26px;
     }

     #footer .socials-list a {

         margin: 0 8px;
     }

     #footer .copyright {
         /* padding:15px 26px ; */
     }

 }



 /* mobile */
 @media (max-width: 46.1875em) {
     .s-full-width {
         width: 100% !important;
     }

     .s-col-full {
         width: 100%;
     }

     #nav {
         display: block;
     }

     #nav>li {
         display: block;

     }

     #nav li a {
         display: block;
         width: 100%;
         padding: 1px 24px;
     }

     #nav>li:first-child {
         display: inline-block;
     }

     #header {
         overflow: hidden;
     }

     #header .mobile-menu-btn {
        padding: 0;
         display: block;
     }

     #header .search-btn {
         display: none;

     }

     #nav .subnav {
         position: initial;
         background-color: #333;
     }

     #nav .subnav a {
         color: #fff;
         padding: 5 41px;
     }

     #content .member-img {
         width: 60%;
     }


     .action-info {
         margin-top: 20px;
     }

     .s-pd-r {
         padding-right: 12px;
     }




 }